div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.row {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 10px 0;
}

.column:first-child {
  background-color: #5750ad;
}

.text {
  margin: 20px;
  font-size: 18px;
  line-height: 21px;
}

.play-animation {
  border: 1px solid #4c4596;
  cursor: pointer;
  border-radius: 10px;
  background-color: #5750ad;
  display: block;
  color: #fff;
  padding: 10px 20px;
}

.desktop {
  position: absolute;
  opacity: 0;
  -webkit-animation: change-slide 2s linear 0s 1 normal forwards, appearance 0.5s linear 9.9s 1 normal forwards;
          animation: change-slide 2s linear 0s 1 normal forwards, appearance 0.5s linear 9.9s 1 normal forwards;
}

.desktop__laptop {
  background: url("../img/desktop/laptop.png") center center/contain no-repeat;
  width: 464.8px;
  height: 293.5px;
  position: relative;
  z-index: 2;
}

.desktop__text {
  background: url("../img/desktop/moving3.png") center center/cover no-repeat;
  width: 108px;
  position: absolute;
  z-index: 3;
  bottom: 45px;
  right: 58.8px;
  height: 85px;
  opacity: 0;
  -webkit-animation: appearance 0.4s linear 0.4s 1 normal forwards, text-move 0.5s linear 1.2s 1 normal forwards;
          animation: appearance 0.4s linear 0.4s 1 normal forwards, text-move 0.5s linear 1.2s 1 normal forwards;
}

.desktop__letter {
  background: url("../img/desktop/letter.png") center center/contain no-repeat;
  width: 75.8px;
  height: 75.7px;
  position: absolute;
  bottom: 50px;
  right: -8px;
  z-index: 4;
  opacity: 0;
  -webkit-animation: appearance 0.4s linear 0.7s 1 normal forwards;
          animation: appearance 0.4s linear 0.7s 1 normal forwards;
}

.desktop__lifebuoy {
  background: url("../img/desktop/lifebuoy.png") center center/contain no-repeat;
  width: 69px;
  height: 69px;
  position: absolute;
  bottom: -50px;
  left: 115px;
  z-index: 3;
  opacity: 0;
  -webkit-animation: appearance 0.4s linear 1s 1 normal forwards;
          animation: appearance 0.4s linear 1s 1 normal forwards;
}

.desktop__video {
  background: url("../img/desktop/moving2.png") center center/contain no-repeat;
  width: 116px;
  height: 85px;
  position: absolute;
  top: 65.9px;
  left: 58.8px;
  z-index: 3;
  -webkit-animation: video-move 0.5s linear 1.2s 1 normal forwards;
          animation: video-move 0.5s linear 1.2s 1 normal forwards;
}

.desktop__block {
  background: url("../img/desktop/moving1.png") center center/contain no-repeat;
  width: 164px;
  height: 127px;
  position: absolute;
  top: 0;
  left: 87px;
  z-index: -1;
  -webkit-animation: block-move 0.5s linear 1.2s 1 normal forwards;
          animation: block-move 0.5s linear 1.2s 1 normal forwards;
}

@-webkit-keyframes change-slide {
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes change-slide {
  15% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-move {
  100% {
    height: 181px;
    bottom: -84px;
  }
}

@keyframes text-move {
  100% {
    height: 181px;
    bottom: -84px;
  }
}

@-webkit-keyframes block-move {
  0% {
    top: 0;
    z-index: 1;
  }
  100% {
    z-index: 1;
    top: -105px;
  }
}

@keyframes block-move {
  0% {
    top: 0;
    z-index: 1;
  }
  100% {
    z-index: 1;
    top: -105px;
  }
}

@-webkit-keyframes video-move {
  100% {
    left: 0;
  }
}

@keyframes video-move {
  100% {
    left: 0;
  }
}

.watch {
  opacity: 0;
  position: absolute;
  -webkit-animation: change-slide 2.7s linear 7.2s 1 normal forwards;
          animation: change-slide 2.7s linear 7.2s 1 normal forwards;
}

.watch__main {
  background: url("../img/watch/watch.png") center center/contain no-repeat;
  width: 499px;
  height: 432px;
  position: relative;
  z-index: 2;
}

.watch__screen1 {
  background: url("../img/watch/screen1.png") center center/contain no-repeat;
  width: 186.3px;
  height: 231.1px;
  bottom: 107px;
  right: 158px;
  position: absolute;
  -webkit-animation: screen1 0.5s linear 7.7s 1 normal forwards;
          animation: screen1 0.5s linear 7.7s 1 normal forwards;
  z-index: 4;
}

.watch__screen2 {
  background: url("../img/watch/screen2.png") center center/contain no-repeat;
  width: 186.3px;
  height: 231.1px;
  bottom: 107px;
  right: 158px;
  position: absolute;
  -webkit-animation: screen2 0.5s linear 8.2s 1 normal forwards;
          animation: screen2 0.5s linear 8.2s 1 normal forwards;
  z-index: 3;
}

.watch__screen3 {
  background: url("../img/watch/screen3.png") center center/contain no-repeat;
  width: 186.3px;
  height: 231.1px;
  bottom: 107px;
  right: 158px;
  position: absolute;
  -webkit-animation: screen3 0.5s linear 9s 1 normal forwards;
          animation: screen3 0.5s linear 9s 1 normal forwards;
  z-index: 1;
}

.watch__block {
  background: url("../img/watch/blockRedBtn.png") center center/contain no-repeat;
  width: 157.1px;
  height: 44.6px;
  position: absolute;
  bottom: 186px;
  right: 174px;
  z-index: 2;
  -webkit-animation: watch-block 0.3s linear 8.7s 1 normal forwards;
          animation: watch-block 0.3s linear 8.7s 1 normal forwards;
}

.watch__red-btn {
  background: url("../img/watch/redBtn.png") center center/contain no-repeat;
  width: 73.2px;
  height: 73.3px;
  position: absolute;
  bottom: 3px;
  left: 115px;
  z-index: 3;
  opacity: 0;
  -webkit-animation: appearance 0.5s linear 8.9s 1 normal forwards;
          animation: appearance 0.5s linear 8.9s 1 normal forwards;
}

@-webkit-keyframes screen1 {
  80% {
    opacity: 1;
    z-index: 4;
  }
  100% {
    width: 145.4px;
    height: 180.5px;
    bottom: 206px;
    right: 317px;
    z-index: 1;
    opacity: 0.7;
  }
}

@keyframes screen1 {
  80% {
    opacity: 1;
    z-index: 4;
  }
  100% {
    width: 145.4px;
    height: 180.5px;
    bottom: 206px;
    right: 317px;
    z-index: 1;
    opacity: 0.7;
  }
}

@-webkit-keyframes screen2 {
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    width: 145.4px;
    height: 180.5px;
    bottom: -11px;
    right: 56px;
    z-index: 1;
    opacity: 0.7;
  }
}

@keyframes screen2 {
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    width: 145.4px;
    height: 180.5px;
    bottom: -11px;
    right: 56px;
    z-index: 1;
    opacity: 0.7;
  }
}

@-webkit-keyframes screen3 {
  90% {
    z-index: 1;
  }
  100% {
    width: 107.2px;
    height: 130.6px;
    bottom: 317px;
    right: 115px;
    z-index: 4;
  }
}

@keyframes screen3 {
  90% {
    z-index: 1;
  }
  100% {
    width: 107.2px;
    height: 130.6px;
    bottom: 317px;
    right: 115px;
    z-index: 4;
  }
}

@-webkit-keyframes watch-block {
  100% {
    right: 233px;
  }
}

@keyframes watch-block {
  100% {
    right: 233px;
  }
}

.phone {
  opacity: 0;
  position: absolute;
  -webkit-animation: change-slide 2.4s linear 2.2s 1 normal forwards;
          animation: change-slide 2.4s linear 2.2s 1 normal forwards;
}

.phone__main {
  background: url("../img/phone/phone.png") center center/contain no-repeat;
  width: 364px;
  height: 615px;
  position: relative;
  z-index: 2;
}

.phone__text-purple {
  background: url("../img/phone/textP.png") center center/contain no-repeat;
  width: 86px;
  height: 108px;
  top: 148px;
  right: 86px;
  position: absolute;
  z-index: 3;
  -webkit-animation: text-purple 0.5s linear 3.4s 1 normal forwards;
          animation: text-purple 0.5s linear 3.4s 1 normal forwards;
}

.phone__text-white {
  background: url("../img/phone/textW.png") center center/contain no-repeat;
  width: 86px;
  height: 146px;
  bottom: 100px;
  right: 88px;
  position: absolute;
  z-index: 3;
  -webkit-animation: text-white 0.4s linear 3.8s 1 normal forwards;
          animation: text-white 0.4s linear 3.8s 1 normal forwards;
}

.phone__input {
  background: url("../img/phone/input.png") center center/contain no-repeat;
  width: 187px;
  height: 35px;
  top: 93px;
  left: 91px;
  position: absolute;
  z-index: 3;
  -webkit-animation: input 0.4s linear 3.8s 1 normal forwards;
          animation: input 0.4s linear 3.8s 1 normal forwards;
}

.phone__video {
  background: url("../img/phone/video.png") center center/contain no-repeat;
  width: 89px;
  height: 67px;
  top: 158px;
  left: 91px;
  position: absolute;
  z-index: 3;
  -webkit-animation: video-phone 0.5s linear 3s 1 normal forwards;
          animation: video-phone 0.5s linear 3s 1 normal forwards;
}

.phone__circle-red {
  background: url("../img/phone/redCircle.png") center center/contain no-repeat;
  width: 67px;
  height: 67px;
  top: 138px;
  right: 15px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  -webkit-animation: appearance 0.5s linear 2.5s 1 normal forwards;
          animation: appearance 0.5s linear 2.5s 1 normal forwards;
}

.phone__circle-purple {
  background: url("../img/phone/purpleCircle.png") center center/contain no-repeat;
  width: 67px;
  height: 67px;
  bottom: 109px;
  left: 18px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  -webkit-animation: appearance 0.5s linear 2.7s 1 normal forwards;
          animation: appearance 0.5s linear 2.7s 1 normal forwards;
}

@-webkit-keyframes video-phone {
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    width: 124px;
    height: 90px;
    top: 221px;
    left: -27px;
    z-index: 1;
    opacity: 0.7;
  }
}

@keyframes video-phone {
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    width: 124px;
    height: 90px;
    top: 221px;
    left: -27px;
    z-index: 1;
    opacity: 0.7;
  }
}

@-webkit-keyframes text-purple {
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    width: 104px;
    height: 129px;
    top: 280px;
    right: -5px;
    z-index: 1;
    opacity: 0.7;
  }
}

@keyframes text-purple {
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    width: 104px;
    height: 129px;
    top: 280px;
    right: -5px;
    z-index: 1;
    opacity: 0.7;
  }
}

@-webkit-keyframes input {
  100% {
    left: 27px;
  }
}

@keyframes input {
  100% {
    left: 27px;
  }
}

@-webkit-keyframes text-white {
  100% {
    bottom: 48px;
  }
}

@keyframes text-white {
  100% {
    bottom: 48px;
  }
}

.tablet {
  opacity: 0;
  position: relative;
  -webkit-animation: change-slide 2.6s linear 4.6s 1 normal forwards;
          animation: change-slide 2.6s linear 4.6s 1 normal forwards;
}

.tablet__main {
  background: url("../img/tablet/tablet.png") center center/contain no-repeat;
  width: 439px;
  height: 574px;
  position: relative;
  z-index: 2;
}

.tablet__text-purple {
  background: url("../img/tablet/purpleText.png") 0 0/cover no-repeat;
  width: 123px;
  height: 112px;
  bottom: 124px;
  left: 94px;
  position: absolute;
  z-index: 3;
  -webkit-animation: tablet-p-text 0.5s linear 5.2s 1 normal forwards;
          animation: tablet-p-text 0.5s linear 5.2s 1 normal forwards;
}

.tablet__text-white {
  background: url("../img/tablet/textWhite.png") center center/contain no-repeat;
  width: 123px;
  height: 112px;
  bottom: 124px;
  right: 87px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  -webkit-animation: appearance 0.4s linear 4.9s 1 normal forwards;
          animation: appearance 0.4s linear 4.9s 1 normal forwards;
}

.tablet__block {
  background: url("../img/tablet/block.png") center center/contain no-repeat;
  width: 263px;
  height: 99px;
  top: 134px;
  left: 93px;
  position: absolute;
  z-index: 3;
  -webkit-animation: tablet-block 0.4s linear 6.5s 1 normal forwards;
          animation: tablet-block 0.4s linear 6.5s 1 normal forwards;
}

.tablet__border {
  background: url("../img/tablet/border.png") center center/contain no-repeat;
  width: 137px;
  height: 94px;
  bottom: 242px;
  right: 79px;
  position: absolute;
  z-index: 3;
  -webkit-animation: tablet-border 0.4s linear 6.5s 1 normal forwards;
          animation: tablet-border 0.4s linear 6.5s 1 normal forwards;
}

.tablet__like {
  background: url("../img/tablet/like.png") center center/contain no-repeat;
  width: 81px;
  height: 71px;
  top: 7px;
  right: 119px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  -webkit-animation: appearance 0.4s linear 5.6s 1 normal forwards;
          animation: appearance 0.4s linear 5.6s 1 normal forwards;
}

.tablet__text {
  background: url("../img/tablet/text.png") center center/contain no-repeat;
  width: 76px;
  height: 32px;
  top: 197px;
  right: 116px;
  position: absolute;
  z-index: 3;
  -webkit-animation: tablet-text 0.4s linear 5.9s 1 normal forwards;
          animation: tablet-text 0.4s linear 5.9s 1 normal forwards;
}

.tablet__gear {
  background: url("../img/tablet/gear.png") center center/contain no-repeat;
  width: 67px;
  height: 67px;
  bottom: 40px;
  left: 109px;
  position: absolute;
  opacity: 0;
  z-index: 3;
  -webkit-animation: appearance 0.4s linear 6.2s 1 normal forwards;
          animation: appearance 0.4s linear 6.2s 1 normal forwards;
}

@-webkit-keyframes tablet-p-text {
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    width: 104px;
    height: 129px;
    bottom: 129px;
    left: -11px;
    z-index: 1;
    opacity: 0.7;
  }
}

@keyframes tablet-p-text {
  80% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    width: 104px;
    height: 129px;
    bottom: 129px;
    left: -11px;
    z-index: 1;
    opacity: 0.7;
  }
}

@-webkit-keyframes tablet-text {
  100% {
    right: -36px;
    opacity: 0.7;
  }
}

@keyframes tablet-text {
  100% {
    right: -36px;
    opacity: 0.7;
  }
}

@-webkit-keyframes tablet-block {
  100% {
    left: 40px;
  }
}

@keyframes tablet-block {
  100% {
    left: 40px;
  }
}

@-webkit-keyframes tablet-border {
  100% {
    bottom: 197px;
    right: -20px;
  }
}

@keyframes tablet-border {
  100% {
    bottom: 197px;
    right: -20px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .desktop {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
  .watch {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
  .tablet {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .desktop {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  .phone {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  .tablet {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  .watch {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .desktop {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 476px) {
  .column:first-child {
    max-height: 430px;
  }
  .desktop {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
  .watch {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
  .phone {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
  .tablet {
    -webkit-transform: scale(0.55);
        -ms-transform: scale(0.55);
            transform: scale(0.55);
  }
}
